.NotesList {
  /* flex: 3; */
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: visible;
  position: fixed;
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: all .3s;
  background: white;
  overflow: scroll;

  &.active {
    transform: translateX(0);
  }
  @media (min-width: 766px) {
    position: static;
    transform: translateX(0);
  }
}

.notesList {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(10rem, 12rem));
  list-style: none;
  margin: 1rem;
  padding: 0;
}