.App {
  // max-height: 100vh;
  // overflow-y: hidden;
  // min-height: 200vh;
}

.main {
  // width: 100%;
  
  margin-top: 4rem;
  @media (min-width: 767px) {
    display: grid;
  // grid-template-rows: 1fr;
  grid-template-columns: [list-start] 32rem [list-end] 1fr [note-end];
  // grid-template-areas: "list note"
  // overflow-y: hidden;
  }
} 